@import "_Mixings";
@import "_Variables";

.confirmAnswer
{
    @include FlexCenter;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50% 0;
    transform: rotate(45deg);
    @include GradientSide($blueShade1, $blueShade2);
    margin-right: -1em;
    border: none;
    color: $silverShade1;

    &:hover
    {
        @include GradientSide(darken($blueShade1, 5%), darken($blueShade2, 5%));
        cursor: pointer; 
    }

    svg
    {
        transform: rotate(-45deg);
    }
}